# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Caché de pytest
.pytest_cache/

# Cobertura
.coverage
htmlcov/

# Variables de entorno
.env
.env.*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db